.product-card {
  background-color: white;
  max-width: 250px;
  word-wrap: break-word;
  border: 1px solid rgb(230, 230, 230);
  padding: 0.5rem 1rem;
  height: 350px;
  gap: 1rem;
  margin: 0.5rem;
}
/* .product-card img
{
  width: 150px
  height: 200px
} */
